body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}
ul{
    display: flex;
    list-style: none;
}
ul,li a{
    text-decoration: none;
    padding-left: 20px;
}
.camara{
    padding-top: 30px;
    padding-right: 60px;
}
.camara a{
text-decoration: none;
background-color: #E02C6D;
color: white;
font-size: 16px;
font-weight: 700px;
padding: 10px 24px;
border-radius: 40px;
}
.Influencer{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
}
.Influencer img{
    width: 340px;
height: 314px;
}
.amazon{
    display: flex;
    margin-left: 227px;
    margin-right: 227px;
    margin-top: 10px;
    align-items: center;
}
.logos{
    margin-right: 30px;
}
hr{
    color: 1px solid gray;
}
.Popular-Collection{
    margin-left: 115px;
    margin-right: 196px;
    margin-top: 40px;
    margin-bottom: 50px;
}
h2{
    text-align: center;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: 
    #FFC014;
}
.rating{
    font-size:12px ;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.dami-jinis{
  border: 2px solid gray;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}
.Featured{
    display: flex;
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 50px;
}
.button a{
    text-decoration: none;
background-color: #E02C6D;
color: white;
font-size: 16px;
font-weight: 700px;
padding: 10px 24px;
border-radius: 40px;
}
.button{
    margin-left: 40px;
}
footer{
    font-size: 10px;
}
.influencer{
    background-color: rgb(10, 10, 82);
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
